﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<meta style="../wwwroot/Styles/style.css" />*@
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</body>
</html>
