﻿@model EmptyProject.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Create Student</h3>
    <form action="/Home/Create" method="post">
        <input type="text" name="Name" placeholder="Name"/>
        <button type="submit">Create</button>
    </form>
</body>
</html>
