﻿@model EmptyProject.Models.Student

@{
    ViewData["Title"] = "Delete";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Delete Student</h3>
    <form action="/Home/Edit" method="post">
        <input type="number" name="Id" placeholder="Id"/>
        <button type="submit">Delete</button>
    </form>

</body>
</html>
