﻿@model EmptyProject.Models.Student
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Student details page</h3>

    <div>

        <span>@Model.Id</span>
        <span>@Model.Name</span>
    </div>
</body>
</html>
