﻿@model EmptyProject.Models.Student

@{
    ViewData["Title"] = "Edit";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h3>Edit Student</h3>
        <form action="/Home/Edit" method="post">
            <input type="number" name="Id" placeholder="Id"/> <br />
            <input type="text" name="Name" placeholder="Name"/> <br />
            <button type="submit">Edit</button>
        </form>

    </body>
    </html>