﻿@model IEnumerable<Student>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*Text
        @ViewBag.Variable
        @ViewData["SomeData"]*@

    <h3>Student's list</h3>
    <strong><a href="/Home/Create" style="text-decoration:none">Create new student</a></strong><br />
    <strong><a href="/Home/Edit" style="text-decoration:none">Edit student</a></strong><br />
    <strong><a href="/Home/Delete" style="text-decoration:none">Delete student</a></strong>

    
    @foreach (var student in Model)
    {
        <div>
            <span>@student.Id</span>
            @*<span><a href="/Home/Details/@student.Id">@student.Name</a></span>*@
            <a asp-controller="Home" asp-action="Details" asp-route-id="@student.Id">@student.Name</a>

            <span>
                <strong>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@student.Id"></a>
                </strong>
            </span>
        </div>
    }
</body>
</html>